/*
font-family: 'Josefin Slab', serif;
font-family: 'Raleway', sans-serif;

Custom, iPhone Retina


*/
    @media only screen and (min-width : 320px) {
      main{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
      }

      .chatHead{
        width: 100%;
        background: white;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Slab', serif;
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
      }

      .messages{
        height: calc(100vh - 50px);
        padding-left: 5px;
        padding-right: 5px;
      }

      .each-message{
        max-width: 80%;
        background-image: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%);
        color: #f8f8f8;
        font-family: 'Raleway', sans-serif;
        border-radius: 20px 20px 20px 0px;
        padding: 10px 5px 10px 5px;
        margin-top: 10px;
      }

      .each-message span{
        font-size: 12px;
        color: lightGray;
        margin-left: 2px;
      }

      .yourMessage{
        background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
        margin-left: 20%;
        border-radius: 20px 20px 0px 20px;
      }




      .chatBottom{
        width: 100%;
        display: flex;
        height: 50px;
        background: white;
        position: absolute;
        bottom: 0;
        -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.2);
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.2);
      }

      form{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

      }
      form input{
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 18px;
        padding-left: 5%;
        overflow: scroll;
      }

      form input:focus{
        outline-color: transparent;
        outline-style: none;
      }

      form button{
        font-size: 20px;
        background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
        color: #f8f8f8;
        border: 0px;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        padding: 8px;
        margin-right: 5px;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
